{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="css/flexigrid/flexigrid.css">
<script type="text/javascript" src="flexigrid.js"></script>
<script>
$(document).ready(function() {
   {{if not form.errors and not form.record:}}jQuery('#form').hide();{{pass}}
});
</script>
<h1>List {{=capitalize(request.args(0))}}</h1>

[<a href="{{=URL(r=request,f='auxiliary',args=request.args(0))}}">clear</a>]
[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]
<div id="form">
{{if form.record:}}<h2>Edit {{=capitalize(request.args(0))}}</h2>{{else:}}<h2>New {{=capitalize(request.args(0))}}</h2>{{pass}}
{{=form}}
</div>

<br /><br />
{{=smarttable(rows)}}

